doctype html
html(lang='en')
 head
   title Gyarbete
   meta(charset='utf-8')

   style

                     include ../public/css/bootstrap-grid.css
                     include ../public/css/bootstrap-grid.css.map
                     include ../public/css/bootstrap-grid.min.css
                     include ../public/css/bootstrap-grid.min.css.map
                     include ../public/css/bootstrap-reboot.css
                     include ../public/css/bootstrap-reboot.css.map
                     include ../public/css/bootstrap-reboot.min.css
                     include ../public/css/bootstrap-reboot.min.css.map
                     include ../public/css/bootstrap.css
                     include ../public/css/bootstrap.css.map
                     include ../public/css/bootstrap.min.css
                     include ../public/css/bootstrap.min.css.map
                     


 body

   h1(class='bg-dark')= rubrik
   p= text
   div.container
     p Cool Pug example!
